<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <%= link_to "Tags", tabs_path, :class  => "button", :style=>'margin-left:590px;font-weight:800;font-size:16px;position: fixed;top: 60px;right: 200px; color: white;'  %>
    
    <div class="span8">
      
      <h3> <font color = "white"> Feed </font></h3>
    
      <%= render 'shared/feed' %>
    </div>
  </div>
    <script>document.body.style.backgroundImage="url('/assets/blurred-water-waves-1920x1080.jpg')";
    document.body.style.backgroundRepeat="no-repeat";
    document.body.style.backgroundAttachment="fixed";
  </script>

<% else %>
  <div class="center hero-unit" id="main_heading_div">
    <h1 id="main_heading">Welcome to Change Heroes</h1>
    
    <%= link_to "Sign Up", signup_path, id: "sign_up" %>
  </div>
  <script>document.body.style.backgroundImage="url('/assets/fantastic-blurred-wallpaper-36388-37216-hd-wallpapers.jpg')";
  document.body.style.backgroundRepeat="no-repeat";
  document.body.style.backgroundAttachment="fixed";

  </script>
<p>
  <br> </br>
  <br> </br>
  <br> </br>
  <br> </br>
  <br> </br>
  <font color ="white"> 
  <b>
    <h2>
  Be a part of the change! 
    </h2>
  <b>
  </font>
  </p>
<% end %>