<h1>Listing comment_relationships</h1>

<table>
  <tr>
    <th>Micropost</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comment_relationships.each do |comment_relationship| %>
  <tr>
    <td><%= comment_relationship.micropost_id %></td>
    <td><%= comment_relationship.user_id %></td>
    <td><%= link_to 'Show', comment_relationship %></td>
    <td><%= link_to 'Edit', edit_comment_relationship_path(comment_relationship) %></td>
    <td><%= link_to 'Destroy', comment_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment relationship', new_comment_relationship_path %>
