
<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  <% if feed_item.photo.url.include? 'mp4' %>
  <%=video_tag feed_item.photo.url, :controls => true%>
    <% else%>
  <%= image_tag feed_item.photo.url%>
  
  <%end%>
  
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     confirm: "You sure?",
                                     title: feed_item.content %>

  <% end %>


  <!--<%=feed_item.number_of_upvotes%>-->
  <!--<%=feed_item.user.id%>llklklk<%=feed_item.id%>-->
  <% if not UpvoteRelationship.where(:user_id =>feed_item.user.id, :micropost_id => feed_item.id).first.eql? nil %>
  
  
    <% if UpvoteRelationship.where(:micropost_id => feed_item.id, :user_id => feed_item.user.id).first.upvote_status.eql? -1 %>
    
      
      <td><%=link_to image_tag('/assets/up.png' ,:width => '35px',:height => '100px'), vote_micropost_path(feed_item,:micropost_id => feed_item.id, :id => 'upvote' , :item_user_id => feed_item.user.id),:style=>'position: relative;top: 15px;right: 8px;', method: :post %></td> 

      <p style="position: relative;top:-20px;right:-220px"><%=UpvoteRelationship.where(:micropost_id => feed_item.id, :user_id => feed_item.user.id).first.upvote_status%></p>
      
    
    <%else%>
    
      <td><%= link_to image_tag('/assets/down.png' ,:width => '35px',:height => '100px'), vote_micropost_path(feed_item,:micropost_id => feed_item.id, :id => 'downvote' , :item_user_id => feed_item.user.id),:style=>'position: relative;top: 15px;right: 8px;', method: :post %></td>

     <p style="position: relative;top:-20px;right:-220px"><%=UpvoteRelationship.where(:micropost_id => feed_item.id, :user_id => feed_item.user.id).first.upvote_status%></p>

    <%end%> 
  <%else%>
      <td><%= link_to image_tag('/assets/up.png' ,:width => '35px',:height => '100px'), vote_micropost_path(feed_item,:micropost_id => feed_item.id, :item_user_id => feed_item.user.id),:style=>'position: relative;top: 15px;right: 8px;', method: :post %></td>
      <b style ="position: relative; top:0px; left:-8px;"><%=feed_item.number_of_upvotes%></b>
      <td><%= link_to image_tag('/assets/down.png' ,:width => '35px',:height => '100px'), vote_micropost_path(feed_item,:micropost_id => feed_item.id, :item_user_id => feed_item.user.id),:style=>'position: relative;top: 15px;right: 8px;', method: :post %></td>
  
  <%end%>
</li>