<li>
  <span class="content"><%= micropost.content %></span>
  <% if micropost.photo.url.include? 'mp4' %>
  <%=video_tag micropost.photo.url, :controls => true%>
  	<% else%>
  <%= image_tag micropost.photo.url%>
  
  <%end%>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>

  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     confirm: "You sure?",
                                     title: micropost.content %>
  <% end %>
  Number of Upvotes: <%=micropost.number_of_upvotes%>
  <%=current_user.id%>llklklk<%=micropost.id%>
  <% if not UpvoteRelationship.where(:user_id =>current_user.id, :micropost_id => micropost.id).first.eql? nil %>
  no nil
  <%=UpvoteRelationship.where(:micropost_id => micropost.id, :user_id => current_user.id).first.upvote_status%>
  	<% if UpvoteRelationship.where(:micropost_id => micropost.id, :user_id => current_user.id).first.upvote_status.eql? -1 %>
  	time to upvote
  		Up
  		<td><%= button_to '+1', vote_micropost_path(micropost,:micropost_id => micropost.id), method: :post %></td>
  	<%else%>
  	time to downvote
  		Down
  		<td><%= button_to '-1', vote_micropost_path(micropost,:micropost_id => micropost.id), method: :post %></td>
  	<%end%> 
  <%else%>
  		<td><%= button_to '+1', vote_micropost_path(micropost,:micropost_id => micropost.id), method: :post %></td>
  		<td><%= button_to '-1', vote_micropost_path(micropost,:micropost_id => micropost.id), method: :post %></td>
  
  <%end%>
</li>