<%= form_for(@upvote_relationship) do |f| %>
  <% if @upvote_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upvote_relationship.errors.count, "error") %> prohibited this upvote_relationship from being saved:</h2>

      <ul>
      <% @upvote_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :micropost_id %><br />
    <%= f.number_field :micropost_id %>
  </div>
  <div class="field">
    <%= f.label :upvote_status %><br />
    <%= f.number_field :upvote_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
