<header class="navbar navbar-fixed-top">
  <div class="navbar-inne">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <% if not signed_in? %>
          <li><%= link_to "Home",    root_path, id:"home" %></li>
          <li><%= link_to "Help",    help_path, id:"help" %></li>
          <%else%>
          <li><%= link_to "Home",    root_path, id:"home_black" %></li>
          <li><%= link_to "Help",    help_path, id:"help_black" %></li>
          <%end%>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path, id: "users_black" %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown", id="signout_black">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path, id: "sign_in" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>